<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu [sidepanel]="sidenav" [isLoggedIn]="isLoggedIn" [isAdmin]="isAdmin" (logoutEvent)="logout()"></app-menu>
    </mat-sidenav>
    <mat-drawer-content>
        <mat-toolbar-row>
            <div id="toggle">
                <button mat-fab (click)="toggle(sidenav)" class="menu-toggle">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <nav>
                <ul>
                    <li>
                        <button mat-fab extended routerLink="/fooldal">
                            <mat-icon>home</mat-icon>
                            Főoldal
                        </button>
                    </li>
                    <li>
                        <button mat-fab extended routerLink="/foglalas">
                            <mat-icon>event_available</mat-icon>
                            Foglalás
                        </button>
                    </li>
                    @if (isLoggedIn) {
                    <li>
                        <button mat-fab extended routerLink="/profil">
                            <mat-icon>person</mat-icon>
                            Profil
                        </button>
                    </li>
                    }
                    @if (isLoggedIn && isAdmin) {    
                        <li>
                            <button mat-fab extended routerLink="/admin">
                                <mat-icon>manage_accounts</mat-icon>
                                Admin
                            </button>
                        </li>
                    }
                    @if (isLoggedIn) {
                        <li>
                            <button mat-fab extended (click)="logout()">
                                <mat-icon>logout</mat-icon>
                                Kijelentkezés
                            </button>
                        </li>
                    } @else {
                        <li>
                            <button mat-fab extended routerLink="/login">
                                <mat-icon>login</mat-icon>
                                Bejelentkezés
                            </button>
                        </li>
                    }
                </ul>
            </nav>
        </mat-toolbar-row>
        <router-outlet/>
    </mat-drawer-content>
</mat-sidenav-container>
