h1 {
    text-align: center;
}

h2 {
    margin-top: 0;
    color: white;
    text-align: center;
}

.adatok {
    margin: 0;
    position: absolute;
    color: #00fbfb;
    top: 10px;
    font-size: 120%;
    text-align: left;
    font-weight: bolder;
    text-shadow: 2px 2px black;
}

.grid {
    
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.items {
    position: relative;
    text-align: center;
    
    width: 500px;
    height: 250px;
    border-radius: 18px;
    background-size: cover;
    box-shadow: 0px 1px 10px rgb(0, 251, 251);
    transition: 0.3s;
}

.items:hover {
    scale: 1.015;
}

.btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}


@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .items {
        width: 380px;
    }
}
