<div id="fooldal">
    <h1>Főoldal</h1>
    <div class="grid">
        @for (item of termek; track $index) {
            <div class="items" style="background-image: url({{item.terem_kep_url}});">
                <div class="adatok">
                    <h2>{{item.terem_nev}}</h2>
                    <ul>
                        <li>Maximum férőhely: {{item.maximum_ferohely}}</li>
                        <li>Asztalok száma: {{item.asztalok_szama}}</li>
                        <li>Óradíj: {{item.oradij}}Ft</li>
                    </ul>
                </div>
                <div>
                    <button mat-fab extended  class="btn" (click)="foglal(item.id)">
                        <mat-icon>schedule</mat-icon>
                        Foglalok
                    </button>
                </div>
            </div>
        }
    </div>
</div>
