<div id="foglalas">
    <h1>Foglalás</h1>
    <div id="box">
        <div style="text-align: center;">
            <mat-form-field class="input">
                <mat-label>Válasz dátumot</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDay" [min]="today" (ngModelChange)="onDateChange($event)"/>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>Válassz termet</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="terem" #chosenTerem (ngModelChange)="reload()">
                @for (terem of termek; track terem) {
                    <mat-option [value]="terem.id">{{terem.terem_nev}}</mat-option>
                }
                </mat-select>
            </mat-form-field>
        </div>
        <form (ngSubmit)="foglal()">
            @if (selectedValue && termek) {
                <div style="height: 150px; margin-bottom: 10px;">
                    <img src={{getTeremById(selectedValue)?.terem_kep_url}} alt={{getTeremById(selectedValue)?.kep_title}}>
                    <p>Férőhelyek száma: {{getTeremById(selectedValue)?.maximum_ferohely}}</p>
                    <p>Asztalok száma: {{getTeremById(selectedValue)?.asztalok_szama}}</p>
                    <p>Óradíj: {{getTeremById(selectedValue)?.oradij}} </p>
                </div>
                <mat-divider></mat-divider>
                @if (selectedDay) {
                    <mat-selection-list [(ngModel)]="selectedIdopontId" name="selectedIdopontId" [multiple]="false" id="idopontok">
                        @for (ido of idopontok; track ido) {
                            @if (ido.available) {
                                <mat-list-option [value]="ido.id">{{ido.intervallum| formatTimeRange }}</mat-list-option>
                            }
                        }
                    </mat-selection-list>
                }
                <p>Elfogadom a szerződési feltételeket.<mat-slide-toggle [(ngModel)]="isAccepted" name="acceptTerms"></mat-slide-toggle></p>
                <button mat-fab extended type="submit" style="width: 100%;">
                    <mat-icon>check_circle</mat-icon>
                    Foglalás
                </button>
            }
        </form>
    </div>
</div>