body {
    margin: 0 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
    background: #101414;
    border-radius: 10px;
    width: 5px;
}

/* A csúszka ("thumb") */
::-webkit-scrollbar-thumb {
    background: #00fbfb !important;
    border-radius: 10px;
    width: 5px;
}

/* Hover effekt a thumb-re */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}